<nav class="navbar is-fixed-top is-dark has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/resources/images/logo/sloot-logos_transparent-cut-cut.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/dashboard">
                Dashboard
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Tools
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/tools/work/projectors">
                        Digital Projectors
                    </a>
                    <a class="navbar-item" href="/tools/work/laptops">
                        Laptops
                    </a>
                    <a class="navbar-item" href="/tools/work/shopping-list">
                        Shopping list
                    </a>
                    <a class="navbar-item" href="/tools/work/equipments">
                        Equipments
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown is-right">
                    <a class="navbar-item" href="/about">
                        About
                    </a>
                    <a class="navbar-item">
                        Jobs
                    </a>
                    <a class="navbar-item">
                        Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>
</nav>